<ion-view title="Perfil de usuario">

  <ion-content style="background-color: gainsboro">

    <div class="bar bar-header bar-dark">
      <h1 class="title">Informacion</h1>
      <button class="button icon ion-compose" ng-click="vm.abrirModal(1)"></button>
    </div>
    <div class="list" ng-repeat="info in usua">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        {{info.nombre}} {{info.apellido}}
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatbubble-working"></i>
        {{info.cargo}}
        <i class="icon ion-ios-telephone-outline"></i>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        {{info.email}}
        <span class="item-note">
      Gadasd
    </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-assertive">0</span>
      </a>
    </div>
  </ion-content>
</ion-view>
