<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Editar cliente</h1>
    <button class="button button-clear button-primary"
            ng-click="vm.cerrarModal(2)">Cancelar
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="client2">

      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">ID Cliente</span>
          <input type="number" placeholder="ID Cliente"
                 ng-model="vm.cliente2.idcliente"
                 name="clientid2"
                 ng-minlength="1"
                 ng-maxlength="10"
                 ng-pattern="/^[0-9]+$/"
                 required>

          <div ng-messages="client2.clientid2.$error"
               ng-show="client2.clientid2.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="pattern">Solo se permiten números</p>
              <p ng-message="maxlength">Máximo 6 caracteres</p>
              <p ng-message="minlength">Minimo 3 caracteres</p>
              <p ng-message="required">Campo requerido</p>

            </div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Cantidad"
                 ng-model="vm.cliente2.nombre"
                 name="clientname2"
                 ng-minlength="5"
                 ng-maxlength="20"
                 ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"
                 required
          >
          <div ng-messages="client2.clientname2.$error"
               ng-show="client2.clientname2.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="pattern">Solo letras</p>
              <p ng-message="maxlength">Máximo 20 caracteres</p>
              <p ng-message="minlength">Minimo 5 caracteres</p>
              <p ng-message="required">Campo requerido</p>

            </div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Dirección</span>
          <input type="text" placeholder="Dirección" ng-model="vm.cliente2.direccion"
                 name="clientdir2"
                 ng-minlength="5"
                 ng-maxlength="40"
                 ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"
                 required
          >
          <div ng-messages="client2.clientdir2.$error"
               ng-show="client2.clientdir2.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="pattern">Solo letras</p>
              <p ng-message="required">Campo requerido</p>
              <p ng-message="maxlength">Máximo 40 caracteres</p>
              <p ng-message="minlength">Minimo 5 caracteres</p>
            </div>
          </div>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Ruta
          </div>
          <select ng-options="ruta.$id as ruta.nombre for ruta in vm.rutas" ng-model="vm.cliente2.ruta"
                  name="clientruta2"
                  required>
          </select>
          <div ng-messages="client2.clientruta2.$error"
               ng-show="client2.clientruta2.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="required">Campo requerido</p>
            </div>
          </div>
        </label>

      </div>
    </form>

    <div class="padding">
      <button class="button button-block button-positive"
              ng-click="vm.editarCliente()" ng-disabled="client2.$invalid">
        Editar
      </button>
    </div>
  </ion-content>
</ion-modal-view>
