<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Registro</h1>
    <button class="button button-clear button-primary"
            ng-click="vm.cerrarModal(1)">Cancelar
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="registroForm">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nro. Empleado</span>
          <input type="text" placeholder="Nro Empleado" ng-model="vm.admin.idempleado"
                 required
                 ng-minlength="3"
                 ng-maxlength="6"
                 ng-pattern="/^[0-9]+$/"
                 name="idForm"
          >
          <div ng-messages="registroForm.idForm.$error" ng-show="registroForm.idForm.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="pattern">Solo se permiten numeros</p>
            </div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Nombre" ng-model="vm.admin.nombre"
                 required
                 ng-minlength="3"
                 ng-maxlength="20"
                 ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"
                 name="nombreForm">
          <div ng-messages="registroForm.nombreForm.$error" ng-show="registroForm.nombreForm.$touched">
            <div ng-messages-include="error-messages"></div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="Apellido" ng-model="vm.admin.apellido"
                 required
                 ng-minlength="3"
                 ng-maxlength="20"
                 ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"
                 name="apellidoForm">
          <div ng-messages="registroForm.apellidoForm.$error" ng-show="registroForm.apellidoForm.$touched">
            <div ng-messages-include="error-messages"></div>
          </div>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Cargo</span>
          <select ng-model="vm.admin.cargo"
                  ng-options="x.nombre as x.nombre for x in vm.cargos"
                  required
                  name="cargoForm"></select>
          <!--<input type="text" placeholder="Cargo" ng-change="vm.cambio()" ng-model="vm.admin.cargo"-->
          <!--required-->
          <!--ng-minlength="5"-->
          <!--ng-maxlength="20"-->
          <!--ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"-->
          <!--name="cargoForm">-->
          <div ng-messages="registroForm.cargoForm.$error" ng-show="registroForm.cargoForm.$touched">
            <div ng-messages-include="error-messages"></div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Correo</span>
          <input type="email" placeholder="Correo" ng-model="vm.admin.email"
                 required
                 ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/"
                 name="emailForm">
          <div ng-messages="registroForm.emailForm.$error" ng-show="registroForm.emailForm.$touched">
            <div ng-messages-include="error-messages"></div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Clave</span>
          <input type="password" placeholder="Clave" ng-model="vm.admin.password"
                 required
                 ng-minlength="4"
                 ng-maxlength="8"
                 name="passForm">
          <div ng-messages="registroForm.passForm.$error" ng-show="registroForm.passForm.$touched">
            <div ng-messages-include="error-messages"></div>
          </div>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-dark"
                ng-click="vm.registrar()" ng-disabled="registroForm.$invalid">
          Registar
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
