<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Registro</h1>
    <button class="button button-clear button-primary"
            ng-click="vm.cerrarModal(1)">Cancelar
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="registroForm">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nro. Empleado</span>
          <input type="text" placeholder="Nro Empleado" ng-model="vm.admin.idempleado"
                 required
                 ng-minlength="3"
                 ng-maxlength="6"
                 name="idForm"
          >
        </label>
        <div ng-messages="registroForm.idForm.$error">
          <p ng-message="required" style="color:red">Campo requerido</p>
          <p ng-message="minlength" style="color:red">Muy corto</p>
          <p ng-message="maxlength" style="color:red">Muy largo</p>
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Nombre" ng-model="vm.admin.nombre"
                 required
                 ng-minlength="3"
                 ng-maxlength="13"
                 name="nombreForm">
        </label>
        <div ng-messages="registroForm.nombreForm.$error">
          <p ng-message="required" style="color:red">Campo requerido</p>
          <p ng-message="minlength" style="color:red">Muy corto</p>
          <p ng-message="maxlength" style="color:red">Muy largo</p>
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="Apellido" ng-model="vm.admin.apellido"
                 required
                 ng-minlength="3"
                 ng-maxlength="15"
                 name="apellidoForm">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Cargo</span>
          <input type="text" placeholder="Cargo" ng-model="vm.admin.cargo"
                 required
                 ng-minlength="5"
                 ng-maxlength="10"
                 name="cargoForm">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Correo</span>
          <input type="email" placeholder="Correo" ng-model="vm.admin.email"
                 required
                 ng-minlength="5"
                 ng-maxlength="20"
                 name="emailForm">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Clave</span>
          <input type="password" placeholder="Clave" ng-model="vm.admin.password"
                 required
                 ng-minlength="4"
                 ng-maxlength="8"
                 name="passForm">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-dark"
                ng-click="vm.registrar()">
          Registar
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
