<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Editar camión</h1>
    <button class="button button-clear button-primary"
            ng-click="vm.cerrarModal(2)">Cancelar
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <form name="truck2">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nro. Camión</span>
          <input type="number" placeholder="Nro. Camión"
                 ng-model="vm.camion2.id"
                 ng-minlength="1"
                 ng-maxlength="6"
                 ng-pattern="/^[0-9]+$/"
                 name="truckId2"
                 disabled
                 required>
          <div ng-messages="truck2.truckId2.$error"
               ng-show="truck2.truckId2.$touched">
            <div ng-messages-include="error-messages">
            </div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Cantidad</span>
          <input type="number" placeholder="Cantidad"
                 ng-model="vm.camion2.cantidad"
                 name="truckCantidad2"
                 ng-minlength="1"
                 ng-maxlength="10"
                 ng-pattern="/^[0-9]+$/"
                 required>
          <div ng-messages="truck2.truckCantidad2.$error"
               ng-show="truck2.truckCantidad2.$touched">
            <div ng-messages-include="error-messages">
            </div>
          </div>
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Capacidad</span>
          <input type="number" placeholder="Capacidad"
                 ng-model="vm.camion2.capacidad"
                 name="truckCapacidad2"
                 ng-minlength="1"
                 ng-maxlength="10"
                 ng-pattern="/^[0-9]+$/"
                 required>
          <div ng-messages="truck2.truckCapacidad2.$error"
               ng-show="truck2.truckCapacidad2.$touched">
            <div ng-messages-include="error-messages">
            </div>
          </div>
        </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive"
              ng-click="vm.editar()" ng-disabled="truck2.$invalid">
        Editar
      </button>
    </div>
    </form>
  </ion-content>
</ion-modal-view>
