<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Crear custodio</h1>
    <button class="button button-clear button-primary"
            ng-click="vm.cerrarModal(1)">Cancelar
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nro. Empleado</span>
        <input type="text" placeholder="Nro Empleado" ng-model="vm.custodio.idempleado">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="Nombre" ng-model="vm.custodio.nombre">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Apellido</span>
        <input type="text" placeholder="Apellido" ng-model="vm.custodio.apellido">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Cargo</span>
        <input type="text" placeholder="Cargo" ng-model="vm.custodio.cargo">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive"
              ng-click="vm.registrarCustodio()">
        Registar
      </button>
    </div>
  </ion-content>
</ion-modal-view>
