<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Editar custodio</h1>
    <button class="button button-clear button-primary"
            ng-click="vm.cerrarModal(2)">Cancelar
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <form name="custform">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nro. Empleado</span>
          <input type="text" placeholder="Nro. Empleado"
                 ng-model="vm.custodio.idempleado"
                 name="custid"
                 ng-minlength="2"
                 ng-maxlength="10"
                 ng-pattern="/^[0-9]+$/"
                 required>
          <div ng-messages="custform.custid.$error"
               ng-show="custform.custid.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="pattern">Solo se permiten números</p>
              <p ng-message="required">Solo se permiten números</p>
              <p ng-message="maxlength">Máximo 10 caracteres</p>
              <p ng-message="minlength">Minimo 2 caracteres</p>
            </div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Nombre"
                 ng-model="vm.custodio.nombre"
                 name="custname"
                 ng-minlength="4"
                 ng-maxlength="20"
                 ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"
                 required>
          <div ng-messages="custform.custname.$error"
               ng-show="custform.custname.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="pattern">Solo letras</p>
              <p ng-message="maxlength">Máximo 20 caracteres</p>
              <p ng-message="minlength">Minimo 4 caracteres</p>
              <p ng-message="required">Campo requerido</p>
            </div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="Apellido"
                 ng-model="vm.custodio.apellido"
                 name="custlname"
                 ng-minlength="4"
                 ng-maxlength="20"
                 ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"
                 required>
          <div ng-messages="custform.custlname.$error"
               ng-show="custform.custlname.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="pattern">Solo letras</p>
              <p ng-message="maxlength">Máximo 20 caracteres</p>
              <p ng-message="minlength">Minimo 4 caracteres</p>
              <p ng-message="required">Campo requerido</p>
            </div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Cargo</span>
          <input type="text" placeholder="Cargo"
                 ng-model="vm.custodio.cargo"
                 name="custcargo"
                 ng-minlength="4"
                 ng-maxlength="20"
                 ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"
                 required
          >
          <div ng-messages="custform.custcargo.$error"
               ng-show="custform.custcargo.$touched">
            <div ng-messages-include="error-messages">
              <p ng-message="pattern">Solo letras</p>
              <p ng-message="maxlength">Máximo 6 caracteres</p>
              <p ng-message="minlength">Minimo 3 caracteres</p>
              <p ng-message="required">Campo requerido</p>
            </div>
          </div>
        </label>
      </form>
    </div>
    <div class="padding">
      <button class="button button-block button-positive"
              ng-click="vm.guardar(vm.custodio)" ng-disabled="custform.$invalid">
        Actualizar
      </button>
    </div>
  </ion-content>
</ion-modal-view>
