<ion-view title="Reportes">
  <ion-content>

    <form name="reportesForm" novalidate>
      <label class="item item-input item-select">
        <div class="input-label">
          Ruta
        </div>
        <select ng-options="ruta.idruta as ruta.nombre for ruta in vm.rutas"
                name="rutaForm"
                ng-model="vm.idruta" style="width: 100%" required>
        </select>
        <div ng-messages="reportesForm.rutaForm.$error" ng-show="reportesForm.rutaForm.$touched">
          <div ng-messages-include="error-messages"></div>
        </div>
      </label>

      <label class="item item-input item-stacked-label">
        <div class="input-label">
          Fecha
        </div>
        <input type="date" name="date" ng-model="vm.date" max="{{vm.today}}" min="2017-01-01" required>
        <div ng-messages="reportesForm.date.$error" ng-show="reportesForm.date.$touched">
          <div ng-messages-include="error-messages"></div>
        </div>
      </label>
      <button class="button button-positive button-block padding-top" ng-click="vm.submit()" ng-disabled="reportesForm.$invalid">
        Consultar
      </button>
    </form>
  </ion-content>
</ion-view>
