<ion-view title="Administrador">

  <ion-content style="background-color: gainsboro">

    <div class="bar bar-header bar-dark">
      <!--<h1 class="title">Para</h1>-->
      <!--<button class="button icon ion-person-add" ng-click="vm.abrirModal(1)"></button>-->
    </div>
    <div style="padding-top: 14%;">
      <div class="padding">
        <button class="button button-full button-assertive" ng-click="vm.abrirModal()">
          Eliminar Configuración
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
