<ion-view title="Perfil de usuario">

  <ion-content style="background-color: gainsboro">

    <div class="bar bar-header bar-dark" style="margin-top: -45px;">
      <h1 class="title">Informacion</h1>
      <button class="button icon ion-compose" ng-click="vm.abrirModal(1)"></button>
    </div>
    <div style="margin-top: 45px;">
      <div class="list" ng-if="vm.infoUsuario">

        <a class="item item-icon-left" href="">
          <i class="icon ion-person"></i>
          {{vm.infoUsuario.idempleado}}
        </a>
        <a class="item item-icon-left" href="">
          <i class="icon ion-android-happy"></i>
          {{vm.infoUsuario.nombre}}
        </a>
        <a class="item item-icon-left" href="">
          <i class="icon ion-android-happy"></i>
          {{vm.infoUsuario.apellido}}
        </a>
        <a class="item item-icon-left" href="">
          <i class="icon ion-ios-briefcase"></i>
          {{vm.infoUsuario.cargo}}
        </a>
        <a class="item item-icon-left" href="">
          <i class="icon ion-email"></i>
          {{vm.infoUsuario.email}}
        </a>

        <!--<label class="item item-input">-->
        <!--<i class="icon ion-search"></i> &nbsp;&nbsp;-->
        <!--<input type="text" ng-model="vm.infoUsuario.idempleado" ng-disabled="true">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
        <!--<i class="icon ion-search"></i> &nbsp;&nbsp;-->
        <!--<input type="text" ng-model="vm.infoUsuario.nombre" ng-disabled="true">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
        <!--<i class="icon ion-search"></i> &nbsp;&nbsp;-->
        <!--<input type="text" ng-model="vm.infoUsuario.apellido" ng-disabled="true">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
        <!--<i class="icon ion-search"></i> &nbsp;&nbsp;-->
        <!--<input type="text" ng-model="vm.infoUsuario.cargo" ng-disabled="true">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
        <!--<i class="icon ion-search"></i> &nbsp;&nbsp;-->
        <!--<input type="text" ng-model="vm.infoUsuario.email" ng-disabled="true">-->

        <!--<label class="item item-input">-->
        <!--<i class="icon ion-search"></i> &nbsp;&nbsp;-->
        <!--<input type="password" ng-model="vm.infoUsuario.password" ng-disabled="true">-->
        <!--</label>-->
      </div>
      <div class="padding">
        <div class="button-bar">
          <a class="button">Editar</a>
          <a class="button">Guardar</a>
          <a class="button" ng-click="cerrarSesion()">Cancelar</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
