<ion-view title="Configuracion">
  <ion-content style="background-color: gainsboro">
    <div class="padding">

      <!--<div class="list list-inset">-->
      <!--<label class="item item-input">-->
      <!--<input type="text" placeholder="Camion" ng-model="vm.idcamion">-->
      <!--</label>-->
      <!--</div>-->
      <!--<div class="list list-inset">-->
      <!--<label class="item item-input">-->
      <!--<input type="text" placeholder="Ruta" ng-model="vm.ruta">-->
      <!--</label>-->
      <!--</div>-->

      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Camion
          </div>
          <select ng-options="camion as camion.id for camion in vm.camion" ng-model="vm.camion_selec"></select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Custodio
          </div>
          <select
            ng-options="custodio as custodio.nombre + ' ' + custodio.apellido for custodio in (vm.list | Custodios_filter)"
            ng-model="vm.custodio"></select>
        </label>


        <label class="item item-input item-select">
          <div class="input-label">
            Ruta
          </div>
          <select ng-options="ruta.idruta as ruta.nombre for ruta in vm.ruta" ng-model="vm.idruta">
          </select>
        </label>
      </div>
    </div>
    <div class="padding">
      <!--<a href="#/tab-custodio/tab-cliente" class="button button-dark">Guardar-->
      <a class="button button-dark" ng-click="vm.configurar(vm.custodio)">Guardar
        configuracion</a>
    </div>
  </ion-content>
</ion-view>
