<ion-view title="Configuración">
  <ion-content style="background-color: gainsboro">
    <form name="formConfig" novalidate>

      <div class="padding">

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Camion
            </div>
            <select ng-options="camion as camion.id for camion in vm.camion | filter:false"
                    name="camionForm" required
                    ng-model="vm.camion_selec"></select>
            <div ng-messages="formConfig.camionForm.$error"
                 ng-show="formConfig.camionForm.$touched">
              <div ng-messages-include="error-messages">
              </div>
            </div>
          </label>
          <!--<div ng-messages="formConfig.camionForm.$error">-->
          <!--<div ng-message="required" style="color:red">-->
          <!--<p>Campo requerido</p>-->
          <!--</div>-->
          <!--</div>-->

          <label class="item item-input item-select">
            <div class="input-label">
              Ruta
            </div>
            <select ng-options="ruta.idruta as ruta.nombre for ruta in vm.ruta | filter:false"
                    name="rutaForm" required
                    ng-model="vm.idruta">
            </select>
            <div ng-messages="formConfig.rutaForm.$error"
                 ng-show="formConfig.rutaForm.$touched">
              <div ng-messages-include="error-messages">
              </div>
            </div>
          </label>
          <!--<div ng-messages="formConfig.rutaForm.$error">-->
          <!--<div ng-message="required" style="color:red">-->
          <!--<p>Campo requerido</p>-->
          <!--</div>-->
          <!--</div>-->

          <ion-list ng-repeat="custodio in vm.list | filter:false">
            <ion-checkbox ng-model="custodio.checked" ng-change="vm.changeChekbox(custodio)">
              {{custodio.nombre}}
              {{custodio.apellido}}
            </ion-checkbox>
          </ion-list>
        </div>
      </div>
      <div class="padding">
        <!--<a href="#/tab-custodio/tab-cliente" class="button button-dark">Guardar-->
        <a class="button button-dark" ng-click="vm.configurar(vm.custodio)"
           ng-disabled="formConfig.$invalid || vm.custodios_selec.length == 0">
          Guardar</a>
      </div>
    </form>
  </ion-content>
</ion-view>
