<ion-view title="Custodios">
  <ion-content class="padding">
    <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="vm.mostrarBorrarVarios()"></button>
      </div>
      <h1 class="title centrar-titulo">Custodios</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-plus-circled" ng-click="vm.abrirModal(1)">
        </button>
      </div>
    </ion-header-bar>
    <ion-list show-delete="vm.mostrarBorrar">
      <ion-item ng-repeat="custodio in vm.list"
                item="custodio"
                class="item-remove-animate">
        {{custodio.idempleado}} {{custodio.nombre}} {{custodio.apellido}} {{custodio.cargo}}
        <ion-delete-button class="ion-minus-circled"
                           ng-click="vm.eliminar(custodio)">
        </ion-delete-button>
        <ion-option-button class="button-calm" ng-click="vm.editar(custodio,$index)">
          Editar
        </ion-option-button>
        <!--<ion-option-button class="button-assertive"-->
                           <!--ng-click="vm.eliminar(custodio)">-->
          <!--Eliminar-->
        <!--</ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
