<ion-view title="Recorridos">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="reco in vm.reco">
        <ul>
          <li><strong>Ruta: </strong> {{reco.ruta}}</li>
          <li><strong>Fecha inicial:</strong> {{reco.fecha_ini}}</li>
          <li><strong>Camiones:</strong>
            <ul ng-repeat="(key,value) in reco.camiones">
              <li>{{key}}</li>
            </ul>
          </li>
          <li><strong>Custodios:</strong>
            <ul ng-repeat="(key,value) in reco.custodios">
              <li>{{vm.get_nombre(key)}}</li>
            </ul>
          </li>
        </ul>
        <ion-option-button class="button-assertive"
                           ng-click="vm.end_reco(reco.$id, reco)">
          Finalizar Recorrido
        </ion-option-button>
        <ion-option-button class="button-calm"
                           ng-click="vm.show_modal(reco.$id)">
          Añadir custodio
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
