<ion-view title="Camion">
    <ion-content class="padding">
        <div class="bar bar-header bar-dark">
            <div class="buttons">
                <button class="button button-icon icon ion-ios-minus-outline"
                        ng-click="mostrar_borrar = !mostrar_borrar"></button>
            </div>
            <div class="buttons">
                <button class="button button-icon icon ion-ios-plus-outline"
                        ng-click="vm.abrirModal(1)">
                </button>
            </div>
        </div>
        <ion-list show-delete="mostrar_borrar">
            <div style="margin-top: 45px;">
                <ion-item ng-repeat="camion in vm.camiones"
                          item="ruta"
                          class="item-remove-animate">
                    <ul>
                        <li><strong>Nº: </strong>{{ camion.id }}</li>
                        <li><strong>Cantidad:</strong> {{ camion.cantidad | number}}</li>
                        <li><strong>Capacidad: </strong>{{ camion.capacidad | number}}</li>
                    </ul>
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="vm.eliminar(camion)">
                    </ion-delete-button>
                    <ion-option-button class="button-calm" ng-click="vm.abrirModal(2,camion)">
                        Editar
                    </ion-option-button>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
