<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Editar ruta</h1>
    <button class="button button-clear button-primary"
            ng-click="vm.cerrarModal(2)">Cancelar
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <form name="rutaform2">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nro. Ruta</span>
          <input type="text" placeholder="Nro Ruta"
                 ng-model="vm.ruta2.idruta"
                 name="rutaid2"
                 ng-minlength="2"
                 ng-maxlength="10"
                 ng-pattern="/^[0-9]+$/"
                 disabled
                 required>
          <div ng-messages="rutaform2.rutaid2.$error"
               ng-show="rutaform2.rutaid2.$touched">
            <div ng-messages-include="error-messages">
            </div>
          </div>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="Nombre"
                 ng-model="vm.ruta2.nombre"
                 name="rutanombre2"
                 ng-minlength="5"
                 ng-maxlength="20"
                 ng-pattern="/^([A-Za-z0-9ÑñáéíóúÁÉÍÓÚ ]+)$/"
                 required>
          <div ng-messages="rutaform2.rutanombre2.$error"
               ng-show="rutaform2.rutanombre2.$touched">
            <div ng-messages-include="error-messages">
            </div>
          </div>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Tipo
          </div>
          <select ng-options="x.tipo as x.tipo for x in vm.tiporuta"
                  ng-model="vm.ruta2.tipo" required name="rutatipo">

          </select>
          <!--<input type="text" placeholder="Tipo"-->
          <!--ng-model="vm.ruta.tipo"-->
          <!--name="rutatipo2"-->
          <!--ng-minlength="4"-->
          <!--ng-maxlength="10"-->
          <!--ng-pattern="/^([A-Za-zÑñáéíóúÁÉÍÓÚ ]+)$/"-->
          <!--required>-->
          <div ng-messages="rutaform2.rutatipo.$error"
               ng-show="rutaform2.rutatipo.$touched">
            <div ng-messages-include="error-messages">
            </div>
          </div>
        </label>
      </form>

    </div>
    <div class="padding">
      <button class="button button-block button-positive"
              ng-click="vm.guardar(vm.ruta)" ng-disabled="rutaform2.$invalid">
        Actualizar
      </button>
    </div>
  </ion-content>
</ion-modal-view>
