<ion-view title="Rutas">
  <ion-content>
    <div class="bar bar-header bar-dark">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="vm.mostrarBorrarVarios()"></button>
      </div>
      <!--<h1 class="title centrar-titulo">Rutas</h1>-->
      <div class="buttons">
        <button class="button button-icon icon ion-ios-plus-outline"
                ng-click="vm.abrirModal(1)">
        </button>
      </div>
    </div>

    <ion-list show-delete="vm.mostrarBorrar" delegate-handle="rutaHandle">
      <div style="margin-top: 45px;">
        <ion-item ng-repeat="ruta in vm.list"
                  item="ruta"
                  class="item-remove-animate">
          <ul>
            <li><strong>ID Ruta: </strong>{{ruta.idruta}}</li>
            <li><strong>Nombre:</strong> {{ruta.nombre}}</li>
            <li><strong>Tipo: </strong>{{ruta.tipo}}</li>
          </ul>
          <ion-delete-button class="ion-minus-circled"
                             ng-click="vm.eliminar(ruta)">
          </ion-delete-button>
          <ion-option-button class="button-calm" ng-click="vm.editar(ruta)">
            Editar
          </ion-option-button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
